## Data Frame (Array - 2 Dimensions)


DataFrames can be created from `lists`, `dictionaries` and Pandas `Series`.

In [3]:
# Cycling distance
cycling_data = [10.7, 0, None, 2.4, 15.3, 10.9, 0, None]
print(cycling_data)

[10.7, 0, None, 2.4, 15.3, 10.9, 0, None]

##### Create a tuple of data

In [9]:
step_data = [3620, 7891, 9761, 3907, 4338, 5373]
joined_data = list(zip(step_data, cycling_data))
print(joined_data)

[(3620, 10.7), (7891, 0), (9761, None), (3907, 2.4), (4338, 15.3), (5373, 10.9)]

##### The dataframe

In [12]:
import pandas as pd

activity_df = pd.DataFrame(joined_data, index = pd.date_range('20150329', periods = 6), columns = ['Walking', 'Cycling'])
print(activity_df)

            Walking  Cycling
2015-03-29     3620     10.7
2015-03-30     7891      0.0
2015-03-31     9761      NaN
2015-04-01     3907      2.4
2015-04-02     4338     15.3
2015-04-03     5373     10.9

##### Selecting Row

Select row of data by index name using `loc` method

In [22]:
# select april data
print(activity_df.loc['2015-04'])

            Walking  Cycling
2015-04-01     3907      2.4
2015-04-02     4338     15.3
2015-04-03     5373     10.9

In [25]:
# select a specific day data
print(activity_df.loc['2015-04-02'])

Walking    4338.0
Cycling      15.3
Name: 2015-04-02 00:00:00, dtype: float64

Select row of data by integer position using `iloc` method

In [32]:
# select first data

print(activity_df.iloc[0])

Walking    3620.0
Cycling      10.7
Name: 2015-03-29 00:00:00, dtype: float64

In [29]:
# select last data

print(activity_df.iloc[-1])

Walking    5373.0
Cycling      10.9
Name: 2015-04-03 00:00:00, dtype: float64

In [37]:
# select first 4 data

print(activity_df.iloc[:4])

            Walking  Cycling
2015-03-29     3620     10.7
2015-03-30     7891      0.0
2015-03-31     9761      NaN
2015-04-01     3907      2.4

In [36]:
# select last 4 data

print(activity_df.iloc[-4:])

            Walking  Cycling
2015-03-31     9761      NaN
2015-04-01     3907      2.4
2015-04-02     4338     15.3
2015-04-03     5373     10.9