### Series (Vector - 1 Dimension)

#### Pandas Series Creation, Indexing and Imputation

In [2]:
import pandas as pd
step_data = [3620, 7891, 9761, 3907, 4338, 5373]
step_counts = pd.Series(step_data, name='steps')
print(step_counts)

0    3620
1    7891
2    9761
3    3907
4    4338
5    5373
Name: steps, dtype: int64

##### Creating index

In [3]:
step_counts.index = pd.date_range('20150329', periods = 6)
print(step_counts)

2015-03-29    3620
2015-03-30    7891
2015-03-31    9761
2015-04-01    3907
2015-04-02    4338
2015-04-03    5373
Freq: D, Name: steps, dtype: int64

##### Selecting data in different ways

In [167]:
print(step_counts['2015-04-01'])

3907

In [168]:
print(step_counts[4])

4338

In [174]:
# selecting element 2,3,4

print(step_counts[2:5])

2015-03-31    9761.0
2015-04-01    3907.0
2015-04-02    4338.0
Freq: D, Name: steps, dtype: float64

In [171]:
# Select all of April

print(step_counts['2015-04'])

2015-04-01    3907
2015-04-02    4338
2015-04-03    5373
Freq: D, Name: steps, dtype: int64

##### Series length

In [180]:
print(step_counts.size)

6

##### View the data type

In [172]:
print(step_counts.dtypes)

int64

##### Convert the data type of float and view

In [173]:
import numpy as np
step_counts = step_counts.astype(np.float)
print(step_counts.dtypes)

float64

##### Creating invalid data

In [175]:
# assign NaN to element 1 and 2
step_counts[1:3] = np.NaN
print(step_counts)

2015-03-29    3620.0
2015-03-30       NaN
2015-03-31       NaN
2015-04-01    3907.0
2015-04-02    4338.0
2015-04-03    5373.0
Freq: D, Name: steps, dtype: float64

##### Fill NaN with 0

In [176]:
step_counts = step_counts.fillna(0.)

# equivalently, step_counts.fillna(0., inplace = True)

print(step_counts)

2015-03-29    3620.0
2015-03-30       0.0
2015-03-31       0.0
2015-04-01    3907.0
2015-04-02    4338.0
2015-04-03    5373.0
Freq: D, Name: steps, dtype: float64

##### [GO BACK HOME](../../README.md)